doctype html
html
    head
        title Editar Produto
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        header 
            h1 
                a.home(href="/") LIVRARIA UEBITCHU
        h2 EDITAR PRODUTO

        - var categoryId = []

        form(method='POST', action=`/admin/product/update`)
            label Id:
            input.form-control(name='id', type='text', value=product.id, readonly, required)
            label Nome:
            input.form-control(name='name', type='text', value=product.name, required)
            label Descrição:
            input.form-control(name='description', type='text', value=product.description, required)
            label Preço:
            input.form-control(name='price', type='number', value=product.price, min=0, max=10000, step='.01', required)
            label Autor:
            input.form-control(name='author', type='text', value=product.author, required)
            if (categories.length > 0)
                label Categorias:
                br
                each category in categories
                    label.form-check-label= category.name
                    input.form-check-input(value=category.id, type='checkbox', name='categories')
            br
            input.btn.btn-primary(type='submit',value='Editar')
            a.btn.btn-primary(href=`/admin/menu`) Voltar
